<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="eventHubConnectionString"
         value="Endpoint=sb://wired-brain-coffee.servicebus.windows.net/;SharedAccessKeyName=SendAndListenPolicy;SharedAccessKey=e+jEpZMD7ksMld+XuWjZKyCfHNQtEwAvzp3O8OQwoi0=;EntityPath=wired-brain-coffee-eventhub" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>